<!-- cover image -->
<img class="w-full h-full" src="../../assets/1.webp" alt="">

<!-- description -->
<p class="plainText">
  Welcome to Al-Sheba Hospital, a beacon of compassionate healthcare excellence. Nestled in the heart of
  Astralia,Sydney, our
  hospital stands as a symbol of unwavering commitment to providing cutting-edge medical care with a human touch. At
  Al-Sheba Hospital, we prioritize the well-being of our patients above all else.

  Our state-of-the-art facility is equipped with the latest advancements in medical technology, complemented by a team
  of dedicated and skilled healthcare professionals. From highly specialized surgical procedures to comprehensive
  diagnostic services, we offer a wide range of medical specialties tailored to meet the diverse needs of our community.
</p>

<p class="plainText">What truly sets Al-Sheba Hospital apart is our patient-centered approach. Every individual who
  walks through our
  doors is treated with empathy, respect, and personalized care. Our mission is to not only heal bodies but also to
  uplift spirits and provide unwavering support during your healthcare journey.

  Explore our website to learn more about the services we offer, our experienced medical staff, and the values that
  drive us. Whether you're seeking medical treatment, preventive care, or information to lead a healthier life,
  Al-Sheba Hospital is your trusted partner every step of the way.</p>

<div class="flex justify-around">
  <app-card
  icon = 'person'
  content = 'Doctor'
  total = '400'
  >
  </app-card>

  <app-card
  icon = 'domainAdd'
    content = 'Centers'
    total = '3'
    >
    
  </app-card>

  <app-card
  icon = 'girl'
    content = 'Nurses'
    total = '1300'
    >
    
  </app-card>

  <app-card
    icon = 'medication'
    content = 'Patients / Month'
    total = '3Cr'>
    
  </app-card>
</div>