<div class="grid grid-cols-3 divide-x-2 text-center">
  <div class="col-span-1">
    <img class="p-10 block" src="https://www.adotrip.com/public/images/medical/master_images/649d466a84c34-Hospitals%20in%20Australia.jpg" alt="">
    <div class="address px-7">Missenden Rd, Camperdown NSW 2050, Australia</div>
    <div class="mt-4"><button class="text-white border py-2 px-3 hover:bg-white hover:text-black transition-colors">Contact Us</button></div>
  </div>
  <div class="col-span-1">
    <img class="p-10 block" src="https://marsbiminternational.com/image/projects/hospital-building/hospital-building-bim-inside.jpg" alt="">
    <div class="address px-7">Salmaniya Avenue, Manama, Bahrain</div>
    <div class="mt-9"><button class="text-white border py-2 px-3 hover:bg-white hover:text-black transition-colors">Contact Us</button></div>
  </div>
  <div class="col-span-1">
    <img class="p-10 block" src="https://i.pinimg.com/736x/cd/a5/7b/cda57b358ab927e03fff92ed0c4e0b3c--hospital-architecture-healthcare-architecture.jpg" alt="">
    <div class="address px-7">Salmaniya Avenue, Manama, Bahrain</div>
    <div class="mt-9"><button class="text-white border py-2 px-3 hover:bg-white hover:text-black transition-colors">Contact Us</button></div>
  </div>
</div>